<h1>Update Post</h1>

<form class="" action="/todo/update">
  <input type="text" name="todo[title]" value="<%= @todo.title %>">
  <textarea name="todo[body]" rows="8" cols="40"><%= @todo.body %></textarea>
  <input type="text" name="todo[status]" value="<%= @todo.status %>">
  <button type="submit">Update Todo</button>
</form>
