<h1>Update Post</h1>

<form class="" action="/todo/update">
  <input type="text" name="todo[title]" value="">
  <textarea name="todo[body]" rows="8" cols="40"></textarea>
  <input type="text" name="todo[status]" value="">
  <button type="submit">Update Todo</button>
</form>
