<h1>Create New Todo</h1>
  <% if @todo.errors %>
    <% @todo.errors.each do |key, error| %>
    <%= error %>
    <% end %>
  <% end %>
<form class="" action="/todo/create" method="post">

  <div class="form-group">
  <label for="exampleInputEmail1">Title:</label>
  <input type="text" name="todo[title]" class="form-control" id="exampleInputEmail1" placeholder="Title" required="true">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1">Description:</label>
    <textarea class="form-control" name="todo[body]" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="sel1">Status:</label>
    <select class="form-control" name="todo[status]" id="sel1">
      <option>Pending</option>
      <option>Completed</option>
    </select>
</div>
  <button type="submit" class="btn btn-success">Create New</button>
</form>
