<div class="page-header">
  <h1><%= @todo.title %><small>Subtext for header</small></h1>
</div>
<div class="main-content">
  <div class="maim">
    In fewer than 600 lines of JavaScript, Todos implements all the
    essential features of a collaborative task management app. Changes you m
    ake to a list are visible to every other user in real time. Todos includes u
    ser accounts, and with that the ability to mark a list as private only visib
    le to its owner. And best of all, it's not just a browser app but also a mobile
    app that runs in both
    iOS and Android.
  </div>
  <div class="content-footer">
    <a href="#" class="btn btn-success">Edit</a>
    <a href="#" class="btn btn-danger">DELETE</a>
  </div>
</div>
